.headerContainer, .shoppingCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.paragraphContainer > p{
    margin: 0;
    padding-right: 0.5rem;
    text-align: right;
    color: white;
}


