.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerShoes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.containerShoes>* {
    flex: 1 1 calc(33.3% - 20px);
    min-width: 300px;
    margin: 10px;
}